@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --header-height: 70px;
    --footer-height: 40px; 
    --content-height-diff: calc(var(--header-height) + var(--footer-height));
    --main-bg-color: #ececec;
    --main-color: #567c8d;
    --content-sep-color: rgba(86, 124, 141, 0.573);
    --header-drop-shadow: 10px 5px 10px rgba(13, 39, 80, 0.4), -5px -10px 23px rgba(255, 255, 255);
    --header-item-active-shadow: -10px -10px 10px rgba(255, 255, 255, 0.7) inset, 10px 10px 10px rgba(133, 133, 143, 0.3) inset;
    --menu-drop-shadow: 5px 5px 20px rgba(13, 39, 80, 0.4), -5px -5px 15px rgba(106, 162, 187, 0.6);
    --content-drop-shadow: 0 0 30px rgba(13, 39, 80, 0.1);
    --content-hover-shadow: 0 0 30px rgba(13, 39, 80, 0.2);   
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: Manrope,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    grid-template-areas:
    'header-container'
    'main-container'
    'footer-container';
    grid-auto-rows: 70px auto 120px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER ELEMENTS */
.header-container {
    display: grid;
    align-content: center;
    justify-content: center;
    box-shadow: 0 20px 30px rgba(13, 39, 80, 0.1);
    z-index: 1;
}

/* MAIN CONTAINER */
.main-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
}

.main-content{
    display: grid;
    grid-auto-rows: 150px auto;
    background-color: var(--main-bg-color);
    row-gap: 10px;
}

/* CONTENT ELEMENTS*/
.section-header {
    /* background-color: aqua; */
    display: grid;
    grid-template-areas: 
    'section-header'
    'section-filters';
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
    padding: 0 15px;
}

.section-title {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.section-title h2, h3 {
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.section-sep-v {
    width: 2px;
    height: 30px;
    margin: 0 10px;
    background-color: var(--content-sep-color);
}

.section-filters {
    display: grid;
    grid-template-areas: 'filter-name filters';
    column-gap: 30px;
}

.section-filters h4 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.filter-name {
    align-self: center;
}

.filters {
    display: grid;
    row-gap: 5px;
    align-self: center;
}

.filter-input {
    display: grid;
    grid-template-columns: 50px 250px;
    align-items: center;
    /* column-gap: 5px; */
}

.filter-input select {
    background-color: inherit;
    font-family: inherit;
    text-align: center;
    border: none;
    border-radius: 20px;
    height: 40px; 
    padding: 0 5px;
    margin-left: 5px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.7) inset,
                5px 5px 10px rgba(174, 174, 192, 0.5) inset;   
}   

.section-body {
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
}

.section-sep-h {
    width: 90%;
    height: 2px;
    margin: 10px 0;
    background-color: var(--content-sep-color);
    justify-self: center;
}

/* CONTENT CHARTS */
.section-plots-ans {            
    display: grid;    
    grid-auto-rows: 200px;
    gap: 10px;   
    padding: 15px;
    padding-top: 0;
}

.plot {
    padding: 15px;
    display: grid;
    grid-template-rows: 50px 100px;
    align-items: start;
    /* border: 1px hidden;  */
    color: var(--main-color);
    border-radius: 10px;
    box-shadow: var(--content-drop-shadow)
}

.plot-focus {
    box-shadow: 0 0 30px rgba(13, 39, 80, 0.8) !important;
    transition: all 0.3s ease-in-out;
}

.plot svg {
    fill: var(--main-color);
}

.plot-header {
    display: grid;
    grid-template-columns: auto 30px;
    grid-template-rows: 50px;
    align-items:start;
    justify-content: space-between;
}

.plot-header p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.plot-header i {   
    cursor: pointer;
    justify-self: end;
    margin-top: 10px;
}

.plot-value {
    display: flex;    
    justify-content:center;
    align-content: end;
    align-items: center;  
    margin: 2% 0;   
}

.plot-value h1, .value h1 {
    font-size: 3rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.plot-value a {
    font-size: 0.7rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.plot-value p {
    font-size: 0.7rem;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 0.9rem;
}

.plot-value svg {
    padding: 10px;
}

/* FOOTER ELEMENTS */
.footer-container {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    display: grid;
    grid-template-areas:
    'footer-menu'
    'footer-info';
    grid-auto-rows: 70px 50px;
    box-shadow: 0 -20px 30px rgba(13, 39, 80, 0.1);
    z-index: 1;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 5px;
}

.footer-menu svg {  
    fill: var(--main-bg-color);
}

.footer-info {
    align-self: self-end;
    margin-bottom: 10px;
}

.footer-info h5 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-info a {
    color: var(--main-bg-color);
    text-decoration: none;
}

/* MODAL */
#dialog-info {
    position: absolute;
    bottom: 0;
    padding: 0;
    border: 1px solid rgba(86, 124, 141, 0.4);
    box-shadow: 0 0 20px 5px rgba(13, 39, 80, 0.3);
    outline: none;
    border-radius: 10px;
    width: 320px;
    /* height: 400px; */
    justify-content: center;    
    color: var(--main-bg-color);
    background-color: rgba(86, 124, 141, 0.8);
    backdrop-filter: blur(0.2rem);
    translate: 0 300px;
    transition: all 0.5s ease-in-out;
}

.dialog-hide {
    opacity: 0;
    scale: 0;
    transform: translateY(300px);
}

.dialog-show {
    transform: translateY(-300px);
    opacity: 100;
}
  
.dialog-wrapper {
    border: none;
    padding: 15px;
    display: grid;
    grid-auto-rows: repeat(2, auto);
}

.dialog-info-header {
    width: 100%;
    height: 25px;
}

.dialog-info-items {
    height: 100%;
    display: flex;
    flex-direction: column; 
}

.dialog-info-items p {
    margin-block-end: 0;
}

.dialog-wrapper h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}




























/* MENU ELEMENTS */
.main-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);;
    color: var(--main-bg-color);;
    width: 250px;
    padding: 0 20px;
    border: 1px hidden;
    border-radius: 0 10px 10px 0;
}

.main-menu a {
    margin: 5px 0 5px 20px;
    text-decoration: none;
    color: inherit;
    padding: 8px;
    border: 1px hidden; 
    border-radius: 10px;
}

.main-menu a:hover {
    cursor: pointer;
    box-shadow: var(--menu-drop-shadow)
}

.menu-active {
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
    background-color: var(--main-bg-color);
    color: var(--main-color) !important;
    width: 100%;
    font-weight: bold;
}

.menu-active:hover {
    cursor: default !important;
    box-shadow: none !important;  
}

.main-menu-sep {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.573);
}

.menu-item {
    margin-block-start: .5em;
    margin-block-end: 0;
    display: flex;
    align-items:baseline;
}

.menu-item svg {
    margin-right: 5px;
}

/* CONTENT CARDS */
.section-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
}

.card {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    border: 1px hidden; 
    color: var(--main-bg-color);
    border-radius: 10px;
    box-shadow: var(--content-drop-shadow);
}

.card h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    justify-self: center;
    font-size: 2rem;
}

.card p {
    padding: 0;
    margin: 0;
    padding-left: 15px;
}

.card svg {
    margin-right: 10px;
}

.card:hover, .plot:hover {
    box-shadow: var(--content-hover-shadow)
}
