@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --header-height: 70px;
    --footer-height: 40px; 
    --content-height-diff: calc(var(--header-height) + var(--footer-height));
    --main-bg-color: #ececec;
    --main-color: #567c8d;
    --content-sep-color: rgba(86, 124, 141, 0.573);
    --header-drop-shadow: 10px 5px 10px rgba(13, 39, 80, 0.4), -5px -10px 23px rgba(255, 255, 255);
    --header-item-active-shadow: -10px -10px 10px rgba(255, 255, 255, 0.7) inset, 10px 10px 10px rgba(133, 133, 143, 0.3) inset;
    --menu-drop-shadow: 5px 5px 20px rgba(13, 39, 80, 0.4), -5px -5px 15px rgba(106, 162, 187, 0.6);
    --content-drop-shadow: 0 0 30px rgba(13, 39, 80, 0.1);
    --content-hover-shadow: 0 0 30px rgba(13, 39, 80, 0.2);   
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: Manrope,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER ELEMENTS */
.header-container {
    height: var(--header-height);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.header-icon {
    display: flex;
    align-items:center;
}

.header-icon i {         
    margin-left: 15px;
    background-color:rgba(0, 0, 255, 0.379);            
}

.header-icon svg {         
    margin-left: 15px;
    padding: 8px;   
    border: 1px hidden; 
    border-radius: 20px;
    fill: var(--main-color);
}

.header-icon svg:hover {
    cursor: pointer;
    box-shadow: var(--header-drop-shadow);
}

.header-icon-active {
    box-shadow: var(--header-item-active-shadow);
}

/* MAIN CONTAINER */
.main-container {
    height: calc(100% - var(--content-height-diff));
    display: flex;
    justify-content: space-between;
}

/* MENU ELEMENTS */
.main-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);;
    color: var(--main-bg-color);;
    width: 250px;
    padding: 0 20px;
    border: 1px hidden;
    border-radius: 0 10px 10px 0;
}

.main-menu a {
    margin: 5px 0 5px 20px;
    text-decoration: none;
    color: inherit;
    padding: 8px;
    border: 1px hidden; 
    border-radius: 10px;
}

.main-menu a:hover {
    cursor: pointer;
    box-shadow: var(--menu-drop-shadow)
}

.menu-active {
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
    background-color: var(--main-bg-color);
    color: var(--main-color) !important;
    width: 100%;
    font-weight: bold;
}

.menu-active:hover {
    cursor: default !important;
    box-shadow: none !important;  
}

.main-menu-sep {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.573);
}

.menu-item {
    margin-block-start: .5em;
    margin-block-end: 0;
    display: flex;
    align-items:baseline;
}

.menu-item svg {
    margin-right: 5px;
}

/* CONTENT AREA */
.main-content{
    display: grid;
    grid-template-rows: 40px auto;
    background-color: var(--main-bg-color);
    width: calc(100% - 290px);
    padding: 0 10px;
    row-gap: 10px;
}

/* CONTENT HEADER */
.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding-left: 10px;
}

.section-title {
    display: inherit;
    height: inherit;
}

.section-title a {
    font-weight: bold;
    font-size: 1.2rem;
}

.section-filters select {
    background-color: inherit;
    font-family: inherit;
    text-align: center;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 170px;
    padding: 0 5px;
    margin-left: 5px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.7) inset,
                5px 5px 10px rgba(174, 174, 192, 0.5) inset;   
}   

.section-filters a {
    margin-left: 15px;  
}   

.section-filters a:first-of-type {
    font-weight: bold;
}   

.section-sep {
    width: 2px;
    height: 70%;
    margin: 0 5px;
    background-color: var(--content-sep-color);
}

.section-body {
    height: inherit;
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
}

/* CONTENT CARDS */
.section-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
}

.card {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    border: 1px hidden; 
    color: var(--main-bg-color);
    border-radius: 10px;
    box-shadow: var(--content-drop-shadow);
}

.card h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    justify-self: center;
    font-size: 2rem;
}

.card p {
    padding: 0;
    margin: 0;
    padding-left: 15px;
}

.card svg {
    margin-right: 10px;
}

/* CONTENT CHARTS */
.section-plots-ans {            
    display: grid;    
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(5,1fr);
    gap: 10px;        
}

.plot {
    padding: 3px;
    display: grid;
    grid-template-rows: 1fr auto;
    border: 1px hidden; 
    color: var(--main-color);
    border-radius: 10px;
    box-shadow: var(--content-drop-shadow)
}

.plot svg {
    fill: var(--main-color);
}

.plot-header {
    display: grid;
    grid-template-columns: auto 30px;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px;
}

.plot-header svg {    
    cursor: pointer;
    justify-self: end;
}

.plot-value {
    display: flex;    
    justify-content:space-between;
    align-items: center;    
    padding: 0 75px;
    margin-bottom: 30px;   
}

.plot-value h1, .value h1 {
    font-size: 3rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.plot-value a {
    font-size: 0.7rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.plot-value p {
    font-size: 0.7rem;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 0.9rem;
}

.card:hover, .plot:hover {
    box-shadow: var(--content-hover-shadow)
}

/* FOOTER ELEMENTS */

.footer-container {
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info h5 {
    padding: 0;
    margin: 0;
}

/* MODAL */
dialog {
    padding: 0;
    border: 1px solid rgba(86, 124, 141, 0.4);
    border-radius: 10px;
    width: 300px;
    height: 400px;
    justify-content: center;    
    color: var(--main-bg-color);
    background-color: rgba(86, 124, 141, 0.4);
    backdrop-filter: blur(0.2rem);
}
  
.wrapper {
    border: none;
    padding: 16px;
    padding-bottom: 0;
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notification-header {
    width: 100%;
    height: 25px;
    margin-bottom: 15px;
}

.notification-items {
    height: 100%;
    display: flex;
    flex-direction: column;    
}

.notification-close {
    margin: 0;
    display: flex;
    justify-content: center;
}

.notification-close svg {
    fill: var(--main-bg-color);
    padding: 10px;
    cursor: pointer;
}

.wrapper h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}