* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
}

header {
    background-color: #2f4156;
    color: #f5efeb;
    padding: 15px 2%; /* espacamento sup/inf e laterais */
    display: flex; /* dispoe na horizontal */
    justify-content: space-between; /* espacamento entre os itens */
    align-items: center; /* centraliza na horizontal */
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
}

ul {
    list-style: none;
}

footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 10px 0;
    background-color: #567c8d;
    color: #f5efeb;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}

.header-info {
    display: flex;
    justify-content: space-around;
}

.header-icon {
    padding-left: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #2f4156;
    padding: 0 .5%;
    width: 20%;
    height: 100%;
}

.sidebar h3 {
    margin: 10px 0;
}

.sidebar i {
    padding-right: 10px;
}

.sidebar a {
    text-decoration: none;
    padding: 5px 0 5px 15px;
    color: inherit;
}

.sidebar a:hover {
    opacity: .7;
    background-color: #f5efeb;
    color: #567c8d;
    font-weight: bold;
    border-left: 5px solid #567c8d;
}

.sidebar a.sidebar-active {
    background-color: #f5efeb;
    color: #567c8d;
    font-weight: bold;
    border-left: 5px solid #567c8d;
}

.content {
    background-color: #f5efeb;
    width: 80%;
}

.titulo-secao {
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 15px 30px;
    box-shadow: 0 0 8px #d8d8d8;
}

.titulo-secao:hover{
    box-shadow: 0 0 8px #a1a1a1;
}

.titulo-secao p {
    margin-top: 10px;
}

.separator {
    width: 100%;
    background-color: #7b7b7b;
    height: 1px;
    margin: 5px 10px 0 0;
}